head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

	title= "PDF Everything"
	meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
	meta(name="keywords", content="PDF, WKHTMLTOPDF")
	meta(name="description", content="PDF Everything")

	link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
	
	link(rel="stylesheet", href="/css/bootstrap.css")
	link(rel="stylesheet", href="/css/app.css")